{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!--Icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!--CSS-->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <!--Icons Image-->
  <link rel="shortcut icon" href="static/images/favicon.ico">
  <!--JavaScript-->
  <script src="{% static 'js/main.js' %}"></script>

</head>
<body>
    <div class="container">
        <div class="card card-width">
            <div class="card-header">
                <p class="heading">Shipping Address</p>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control input-alig" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control input-alig" name="number" placeholder="Mobile Number">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-alig" name="address" placeholder="Shipping Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-alig" name="city" placeholder="City">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control input-alig" name="pin" placeholder="PIN code">
                    </div>
                    <!--Radio Button-->
                    <div class="input-alig">
                    <input type="radio" name="pay" id="card" value="card">
                    <label for="card">Debit/Credit Card</label>
                    <input type="radio" name="pay" id="bank" value="bank">
                    <label for="bank">Net Banking</label><br>
                    <input type="radio" name="pay" id="upi" value="upi">
                    <label for="upi">BHIM UPI</label>
                    </div>

                    <input type="submit" value="Next" class="btn btn-secondary input-alig">
                </form>
            </div>
        </div>
    </div>
</body>
</html>